/*
    Simple PHP registration and login system
    https://github.com/ojaha065/simplePHPLoginSystem
    (C) Jani Haiko, 2019
*/

#rememberMeTimeFieldset{
    width: 100%;
    max-width: 200px;
    display: none;
}